fastapi>=0.115.0
uvicorn[standard]>=0.30.0
requests
psycopg[binary]
python-dotenv>=1.0.1
python-jose[cryptography]
passlib
pydantic>=2.7.0
openai>=1.0.0
python-multipart>=0.0.9
supabase>=2.28.3
reportlab
Pillow
mido
python-rtmidi
openpyxl
pypdf>=5.0.0
python-docx>=1.1.0
